*{
    margin:0;
}
.box{
    height: auto;
    width:100%;
    font-size: 10rem;
}
.full{
    height: 50rem;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #18453b ;
}

.box {
    opacity: 0;
    animation: show-animation 3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.box p:nth-child(1) {
    animation-delay: 1.5s;
}

@keyframes show-animation {
    0% {
        opacity: 0;
        transform: translateX(20px);
        background-color: #00ab66;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
